In [1]:
# Lab 4

In [2]:
## import python libs and connect to database

In [7]:
import pandas
import configparser
import psycopg2

In [9]:
# Establish connection

In [10]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['myaws']['host']
db=config['myaws']['db']
user=config['myaws']['user']
pwd=config['myaws']['pwd']

In [11]:
conn = psycopg2.connect(
                        host = host,
                        user = user,
                        password = pwd,
                        dbname = db
                        )

In [12]:
cur=conn.cursor()

In [13]:
# Question 1

In [14]:
sql_q1 = """
            select * from demo.student
            """

In [19]:
df= pandas.read_sql_query(sql_q1,conn)
df[:]

/tmp/ipykernel_12763/2444121564.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pandas.read_sql_query(sql_q1,conn)

DatabaseError: Execution failed on sql '
            select * from demo.student
            ': relation "demo.student" does not exist
LINE 2:             select * from demo.student
                                  ^